doctype html
html(lang=(locale && translated) ? locale: 'en')
  head
    meta(charset='utf8')
    title Promises
    link(href=staticFiles + '/style/bundle.css', rel='stylesheet')
    meta(name="viewport" content="width=device-width, minimal-ui")
  body
    #wrap
      .navbar.navbar-default.navbar-static-top
        .container
          ul.nav.navbar-nav
            mixin navlink(path, name)
              li(class={active: path === activePath}): a(href=path)= name
            +navlink('/', 'Promises')
            li(class={active: '/api/' === activePath}): a(href='/api/')
              | API #[span.hidden-xs.hidden-sm.hidden-md Reference]
            +navlink('/patterns/', read('/strings/patterns.txt'))
            +navlink('/generators/', read('/strings/generators.txt'))
            +navlink('/implementing/', read('/strings/implementing.txt'))
          ul.nav.navbar-nav.navbar-right.specification
            li: a(href='http://promisesaplus.com/')= read('/strings/specification.txt')
      block content
        - throw new Error('Every page must have some content.')
      #push
    #footer-wrapper
      footer
        .container
          p
            | Developed by&nbsp;
            a.jepso(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
          p
            | Can you make this better?  Please fork it on
            = ' '
            a.jepso(href='https://github.com/ForbesLindesay/promisejs.org') GitHub
    block scripts
    script(async src=staticFiles + "/show-polyfill/client.js")
    script.
      var d = document.createElement('div');
      d.id = 'carbon-location';
      document.getElementsByClassName('title')[0].appendChild(d);
      setTimeout(function () {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31798041-3', 'promisejs.org');
      ga('send', 'pageview');

      (function (c, s) {
      s.async=true;
      s.src="//cdn.carbonads.com/carbon.js?serve=CKYILKQY&placement=promisejsorg";
      s.id="_carbonads_js";
      c.appendChild(s);
      }(d, document.createElement('script')));
      }, 1000);
    include ./fbpixel.html
