!!! 5
mixin implementation(name, headingLevel)
  - var implementation = implementations[name]

  | <h#{headingLevel} id='i-#{name}'>#{implementation.name}</h#{headingLevel}>

  p= implementation.description

  p If you use node.js or browserify you can install it using npm:

  pre
    code.
      npm install #{name}

  p and then load it using require:

  != js(implementation.require)

  p
    | If you are using any other module system or just want it directly in the browser, you can download a version with a standalone module defenition from 
    a(href='/implementations/' + name + '/' + name + '-' + versions[name] + '.js') here
    |  (with 
    a(href='https://github.com/ForbesLindesay/umd') UMD
    |  support) or add a script tag directly:

  != html('<script src="http://www.promisejs.org/implementations/' + name + '/' + name + '-' + versions[name] + '.js"></script>')

  p Once installed, you can create a new promise using:

  != js(implementation.create)

  p Full documentation can be found at 
    a(href=implementation.home)= implementation.home

html(lang='en')
  head
    meta(charset='utf8')
    title Promises
    link(href='/style.css', rel='stylesheet')
    link(href='http://yandex.st/highlightjs/7.3/styles/rainbow.min.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href='/') Promises
            ul.nav.navbar-nav
              li: a(href='/intro') Introduction
              li: a(href='/implementations') Implementations
            ul.nav.navbar-nav.pull-right
              li: a(href='http://promisesaplus.com/') Spec
      #content
        block content
          - throw new Error('Every page must have some content.')
      #push
    #footer-wrapper
      footer
        .right
          script(data-gittip-username="promisejs.org",src="https://www.gittip.com/assets/widgets/0002.js")
        p
          | Developed by&nbsp;
          a.jepso(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
        p
          | All views expressed are my own and do not necessarily reflect the views of the&nbsp;
          a.jepso(href='http://promisesaplus.com/') Promises/A+
          |  organisation
        p
          | Can you make this better?  Please fork it on 
          a.jepso(href='https://github.com/ForbesLindesay/promisejs.org') GitHub
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31798041-3', 'promisejs.org');
      ga('send', 'pageview');